<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4>Registrar equipo</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/settings/equipments" class="btn btn-outline-danger">Cancelar</a>
        </div>
      </div>
      <form class="needs-validation" [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="id">Código</label>
            <input type="text" class="form-control" id="id" placeholder="" value="" required>
            <div class="invalid-feedback">
              El código es requerido
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="plate">Placa</label>
            <input type="text" class="form-control" id="plate" placeholder="" value="" required>
            <div class="invalid-feedback">
              Ingrese el número de placa correctamente
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="make">Marca</label>
          <input type="text" class="form-control" id="make" placeholder="">
          <div class="invalid-feedback">
            Ingrese la marca del vehículo
          </div>
        </div>

        <div class="mb-3">
          <label for="model">Modelo</label>
          <input type="text" class="form-control" id="model" placeholder="">
          <div class="invalid-feedback">
            Ingrese el modelo del vehículo
          </div>
        </div>

        <div class="mb-3">
          <label for="description">Descripción</label>
          <input type="text" class="form-control" id="description" placeholder="" required>
        </div>

        <div class="mb-3">
          <label for="serial">Número de serie</label>
          <input type="text" class="form-control" id="serial" placeholder="">
          <div class="invalid-feedback">
            Ingrese un número de serie válido
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="company">Empresa</label>
            <input type="text" class="form-control" id="company" placeholder="" required>
            <div class="invalid-feedback">
              Ingrese el nombre de la empresa
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="status">Estado</label>
            <select class="custom-select d-block w-100" id="status" required>
              <option>Activo</option>
              <option>Inactivo</option>
            </select>
            <div class="invalid-feedback">
              Por favor, seleccione un estado válido
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>