<div class="row">
  <div class="col-md-12 p-3 mb-3 bg-light text-dark">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="kilometers">Kilometraje</label>
          <input type="number" class="form-control mb-2 mr-sm-2" id="kilometers" formControlName="kilometers"
            placeholder="Kilometraje" min="0" [ngClass]="{ 'is-invalid': submitted && f.kilometers.errors }" />
        </div>
        <div class="form-group col-md-3">
          <label for="plate">Placas del equipo</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="plate" formControlName="plate" placeholder="Placas del equipo"
            [ngClass]="{ 'is-invalid': submitted && f.plate.errors }" [ngbTypeahead]="searchEquipmentByPlate" />
        </div>
        <div class="form-group col-md-3">
          <label for="code">Código del equipo</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="code" formControlName="code" placeholder="Código del equipo"
            [ngClass]="{ 'is-invalid': submitted && f.code.errors }" [ngbTypeahead]="searchEquipmentByCode" />
        </div>
        <div class="form-group col-md-3">
          <label for="amount">Galones</label>
          <input type="number" class="form-control mb-2 mr-sm-2" id="amount" formControlName="amount" placeholder="Galones"
            min="1" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="department">Departamento</label>
          <select class="form-control" id="department" formControlName="department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
            <option value="0" disabled selected>Selecciona un Departamento</option>
            <option *ngFor="let department of departments" value="{{department}}">{{departmentType[department]}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="driver">Piloto</label>
          <select class="form-control" id="driver" formControlName="driver" [ngClass]="{ 'is-invalid': submitted && f.driver.errors }">
            <option value="0" disabled selected>Selecciona un Piloto</option>
            <option *ngFor="let driver of driverItems" value="{{driver.id}}">{{driver.name}} {{driver.lastname}}</option>
          </select>
        </div>
        <div class="form-group col-md-6 pt-4">
          <button type="submit" class="btn btn-success mb-2">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</div>