<div class="row">
  <div class="col-md-12">
    <form class="form-inline" [formGroup]="form" (ngSubmit)="onSubmit()">
      <label class="sr-only" for="kilometers">Kilometraje</label>
      <input type="number" class="form-control mb-2 mr-sm-2" id="kilometers" formControlName="kilometers"
        placeholder="Kilometraje" min="0" [ngClass]="{ 'is-invalid': submitted && f.kilometers.errors }">

      <label class="sr-only" for="plate">Placas de Vehiculo</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="plate" formControlName="plate"
        placeholder="Placas de Vehiculo" [ngClass]="{ 'is-invalid': submitted && f.plate.errors }">

      <label class="sr-only" for="amount">Galones</label>
      <input type="number" class="form-control mb-2 mr-sm-2" id="amount" formControlName="amount"
        placeholder="Galones" min="0" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">

      <label class="my-1 mr-2" for="department">Departamento</label>
      <select class="custom-select my-1 mr-sm-2" id="department" formControlName="department"
        [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
        <option *ngFor="let department of departments" value="{{department}}">{{departmentType[department]}}</option>
      </select>

      <label class="my-1 mr-2" for="driver">Piloto</label>
      <select class="custom-select my-1 mr-sm-2" id="driver" formControlName="driver"
        [ngClass]="{ 'is-invalid': submitted && f.driver.errors }">
        <option *ngFor="let driver of driverItems" value="{{driver.id}}">{{driver.name}} {{driver.lastname}}</option>
      </select>

      <button type="submit" class="btn btn-primary mb-2">Agregar</button>
    </form>
  </div>
</div>