<app-header></app-header>

<div class="container">
  <div class="row">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="card-deck">
        <div class="card border-secondary text-center">
          <div class="card-header bg-transparent border-secondary">Despachos de combustible</div>
          <div class="card-body">
            <h1 class="card-title">{{ fuelEntries }}</h1>
            <footer class="blockquote-footer"><cite title="Source Title">durante el día</cite></footer>
          </div>
        </div>
        <div class="card border-secondary text-center">
          <div class="card-header bg-transparent border-secondary">Despachos de lubricantes</div>
          <div class="card-body">
            <h1 class="card-title">{{ oilEntries }}</h1>
            <footer class="blockquote-footer"><cite title="Source Title">durante el día</cite></footer>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-deck">
        <div class="card border-primary text-center">
          <div class="card-header bg-transparent border-primary">Equipos registrados</div>
          <div class="card-body">
            <h1 class="card-title">{{ equipments }}</h1>
          </div>
        </div>
        <div class="card border-success text-center">
          <div class="card-header bg-transparent border-success">Equipos activos</div>
          <div class="card-body">
            <h1 class="card-title">{{ activeEquipments}}</h1>
          </div>
        </div>
        <div class="card border-danger text-center">
          <div class="card-header bg-transparent border-danger">Equipos inactivos</div>
          <div class="card-body">
            <h1 class="card-title">{{ inactiveEquipments}}</h1>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>