<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4>Registrar información de piloto</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/settings/drivers" class="btn btn-outline-danger">Cancelar</a>
        </div>
      </div>
      <form class="needs-validation" [formGroup]="driverForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="license">No. de licencia</label>
            <input type="text" class="form-control" id="license" formControlName="license" placeholder="" value="" required
            [ngClass]="{ 'is-invalid': submitted && f.license.errors }">
            <div class="invalid-feedback">
              Ingrese el número de licencia de conducir
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="birthdate">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="birthdate" formControlName="birthdate" placeholder="" value="" required
            [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }">
            <div class="invalid-feedback">
              La fecha de nacimiento es inválida
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Nombres</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="" value="" required
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div class="invalid-feedback">
              Ingrese los nombres del piloto
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastname">Apellidos</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="" value="" required
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
            <div class="invalid-feedback">
              Ingrese los apellidos del piloto
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="phone">Número de teléfono</label>
          <input type="text" class="form-control" id="phone" formControlName="phone" placeholder=""
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="status">Estado</label>
            <select class="custom-select d-block w-100" id="status" formControlName="status" required
            [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <option value="1">Activo</option>
              <option value="2">Inactivo</option>
            </select>
            <div class="invalid-feedback">
              Por favor, seleccione un estado válido
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>