<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4>Despachos de combustible</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/entries/fuel/new" class="btn btn-primary">Agregar</a>
        </div>
      </div>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha de despacho</th>
            <th scope="col">Cantidad de despachos</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>