<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4>Equipos</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/settings/equipments/new" class="btn btn-primary">Agregar</a>
        </div>
      </div>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Placa</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Año</th>
            <th scope="col">Serie</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipment of equipmentItems | async; index as i" [routerLink]="['/settings/equipment/', equipment.id]">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ equipment.code }}</td>
            <td>{{ equipment.plate }}</td>
            <td>{{ equipment.brand }}</td>
            <td>{{ equipment.model }}</td>
            <td>{{ equipment.description }}</td>
            <td>{{ equipment.year }}</td>
            <td>{{ equipment.serial }}</td>
            <td>
              <span class="badge badge-success" *ngIf="equipment.status == 'Activo'">{{ equipment.status }}</span>
              <span class="badge badge-danger" *ngIf="equipment.status == 'Inactivo'">{{ equipment.status }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>