<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4>Iniciar estación para despachos</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a routerLink="/entries/fuel" class="btn btn-outline-danger">Cancelar</a>
        </div>
      </div>
      <form class="needs-validation" [formGroup]="fuelForm" (ngSubmit)="onSubmit()">
        <!-- Medida de tanques -->
        <div>
          <h5>Medida de tanques</h5>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="initTankFive">Medida inicial (Tanque 5K)</label>
            <input type="number" class="form-control" id="initTankFive" formControlName="initTankFive" min="0"
              [ngClass]="{ 'is-invalid': submitted && f.initTankFive.errors }">
            <div class="invalid-feedback">
              Ingrese el valor inicial del tanque de 5K
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="initTankFiveGallons">Galones iniciales (Tanque 5K)</label>
            <input type="number" class="form-control" id="initTankFiveGallons" formControlName="initTankFiveGallons"
              min="0" [ngClass]="{ 'is-invalid': submitted && f.initTankFiveGallons.errors }">
            <div class="invalid-feedback">
              Ingrese el valor inicial en galones del tanque de 5K
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="initTankTen">Medida inicial (Tanque 10K)</label>
            <input type="number" class="form-control" id="initTankTen" formControlName="initTankTen" min="0" [ngClass]="{ 'is-invalid': submitted && f.initTankTen.errors }">
            <div class="invalid-feedback">
              Ingrese el valor inicial del tanque de 10K
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="initTankTenGallons">Galones iniciales (Tanque 10K)</label>
            <input type="number" class="form-control" id="initTankTenGallons" formControlName="initTankTenGallons" min="0"
              [ngClass]="{ 'is-invalid': submitted && f.initTankTenGallons.errors }">
            <div class="invalid-feedback">
              Ingrese el valor inicial en galones del tanque de 10K
            </div>
          </div>
        </div>

        <!-- Contador de bombas -->
        <div>
          <h5>Contador de bombas</h5>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="initBombMeterOne">Contador inicial (bomba 1)</label>
            <input type="number" class="form-control" id="initBombMeterOne" formControlName="initBombMeterOne" min="0"
              [ngClass]="{ 'is-invalid': submitted && f.initBombMeterOne.errors }">
            <div class="invalid-feedback">
              Ingrese el valor inicial de la bomba 1
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="initBombMeterTwo">Contador inicial (bomba 2)</label>
            <input type="number" class="form-control" id="initBombMeterTwo" formControlName="initBombMeterTwo" min="0"
              [ngClass]="{ 'is-invalid': submitted && f.initBombMeterTwo.errors }">
            <div class="invalid-feedback">
              Ingrese el valor inicial de la bomba 2
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="initBombMeterThree">Contador inicial (bomba 3)</label>
            <input type="number" class="form-control" id="initBombMeterThree" formControlName="initBombMeterThree" min="0"
              [ngClass]="{ 'is-invalid': submitted && f.initBombMeterThree.errors }">
            <div class="invalid-feedback">
              Ingrese el valor inicial de la bomba 3
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>