<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4>Información de Equipos</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a href="/settings/equipments/new" class="btn btn-primary">Agregar</a>
        </div>
      </div>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Placa</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Empresa</th>
            <th scope="col">Serie</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>C-043BQG</td>
            <td>Sinotruk</td>
            <td>ZZ3257N3647B</td>
            <td>oecc_gua</td>
            <td>LZZ5ELSD5GD143280</td>
            <td>Dump Truck</td>
            <td>Available</td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>C-044BQG</td>
            <td>Sinotruk</td>
            <td>ZZ3257N3647B</td>
            <td>oecc_gua</td>
            <td>LZZ5ELSD2GD143284</td>
            <td>Dump Truck</td>
            <td>Available</td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>C-045BQG</td>
            <td>Sinotruk</td>
            <td>ZZ3257N3647B</td>
            <td>oecc_gua</td>
            <td>LZZ5ELSD4GD143285</td>
            <td>Dump Truck</td>
            <td>Available</td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>C-046BQG</td>
            <td>Sinotruk</td>
            <td>ZZ3257N3647B</td>
            <td>oecc_gua</td>
            <td>LZZ5ELSD1GD143289</td>
            <td>Dump Truck</td>
            <td>Available</td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>C-047BQG</td>
            <td>Sinotruk</td>
            <td>ZZ3257N3647B</td>
            <td>oecc_gua</td>
            <td>LZZ5ELSDXGD143291</td>
            <td>Dump Truck</td>
            <td>Available</td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>C-049BQG</td>
            <td>Sinotruk</td>
            <td>ZZ3257N3647B</td>
            <td>oecc_gua</td>
            <td>LZZ5ELSD1GD143292</td>
            <td>Dump Truck</td>
            <td>Available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>