<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4>Listado de Pilotos</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a href="/settings/drivers/new" class="btn btn-primary">Agregar</a>
        </div>
      </div>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">No. de Licencia</th>
            <th scope="col">Nombres y Apellidos</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>2100 52901 1101</td>
            <td>JOSE MANUEL LAZAR GALARZA</td>
            <td>01/01/1987</td>
            <td>55543212</td>
            <td><span class="badge badge-success">Disponible</span></td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>2100 48496 7781</td>
            <td>JULIAN NOVILLO SANZ</td>
            <td>01/01/1987</td>
            <td>55543212</td>
            <td><span class="badge badge-success">Disponible</span></td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>2100 35903 3313</td>
            <td>XAVIER PARRADO DE LUCAS</td>
            <td>01/01/1987</td>
            <td>55543212</td>
            <td><span class="badge badge-success">Disponible</span></td>
          </tr>

          <tr>
            <th scope="row">4</th>
            <td>2100 91179 7781</td>
            <td>JUAN ANTONIO CAAMAÑO ABREU</td>
            <td>01/01/1987</td>
            <td>55543212</td>
            <td><span class="badge badge-success">Disponible</span></td>
          </tr>

          <tr>
            <th scope="row">5</th>
            <td>2100 66928 1100</td>
            <td>JAVIER LAGARES NOVILLO</td>
            <td>01/01/1987</td>
            <td>55543212</td>
            <td><span class="badge badge-success">Disponible</span></td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td>2100 59569 2330</td>
            <td>SEBASTIAN PAGES MASIP</td>
            <td>01/01/1987</td>
            <td>55543212</td>
            <td><span class="badge badge-success">Disponible</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>